{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!--  Product Details -->
                <div class="product product-details clearfix">
                    <div class="col-md-6">
                        <div id="product-main-view">

                            {% for product_image in product.producthasimage_set.all %}
                                <div class="product-view">
                                    {% thumbnail product_image.image "1200x1200" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            {% endfor %}

                        </div>
                        <div id="product-view">
                            {% for product_image in product.producthasimage_set.all %}
                                <div class="product-view">
                                    {% thumbnail product_image.image "300x300" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-body">
                            <div class="product-label">
                                <span>New</span>
                                <span class="sale">-20%</span>
                            </div>
                            <h2 class="product-name">{{ product.title }}</h2>
                            <h3 class="product-price">{{ product.price }}
                                <del class="product-old-price">{{ product.strike_price }}</del>
                            </h3>
                            <div>
                                <div class="product-rating">
                                    {% for star in product.rating_range %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% for star in product.empty_rating_range %}
                                        <i class="fa fa-star-o empty"></i>
                                    {% endfor %}
                                </div>
                                <a href="#">{{ product.producthasreview_set.count }} Review(s) / Add Review</a>
                            </div>
                            <p><strong>Availability:</strong>{% if product.availability %}In Stock {% else %}out of
                                stock{% endif %} </p>
                            <p><strong>Brand:</strong>{{ product.brand }}</p>
                            <p>{{ product.short_intro |safe }}</p>
                            <div class="product-options">
                                <ul class="size-option">
                                    <li><span class="text-uppercase">Size:</span></li>
                                    {% for size in product.list_of_size %}
                                        <li {% if forloop.first %}class="active"{% endif %}><a href="#">{{ size }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul class="color-option">
                                    <li><span class="text-uppercase">Color:</span></li>
                                    {% for color in product.list_of_color %}
                                        <li {% if forloop.first %}class="active"{% endif %}><a href="#"
                                                                                               style="background-color:{{ color }};"></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="product-btns">
                                <form method="post" action="{% url 'product_cart' product.slug %}">
                                    {% csrf_token %}
                                <div class="qty-input">
                                    <span class="text-uppercase">QTY: </span>
                                    <input class="input" type="number" name="qty" required>
                                </div>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </form>
                                <div class="pull-right">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product-tab">
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                <li><a data-toggle="tab" href="#tab2">Reviews
                                    ({{ product.producthasreview_set.count }})</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane fade in active">
                                    {{ product.details |safe }}
                                </div>
                                <div id="tab2" class="tab-pane fade in">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="product-reviews">
                                                {% for review in product.producthasreview_set.all %}
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div><a href="#"><i
                                                                    class="fa fa-user-o"></i>{{ review.user.username }}
                                                            </a></div>
                                                            <div><a href="#"><i
                                                                    class="fa fa-clock-o"></i>{{ review.pubdate }}</a>
                                                            </div>
                                                            <div class="review-rating pull-right">
                                                                {% for star in review.rating_range %}
                                                                    <i class="fa fa-star"></i>
                                                                {% endfor %}
                                                                {% for star in review.empty_rating_range %}
                                                                    <i class="fa fa-star-o empty"></i>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ review.comment }}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                                <ul class="reviews-pages">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% if user.is_authenticated %}
                                            <div class="col-md-6">
                                                <h4 class="text-uppercase">Write Your Review</h4>
                                                <p>Your email address will not be published.</p>
                                                {% for error in error_messages %}
                                                    {{ error }}
                                                {% endfor %}
                                                <form method="post" class="review-form">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <textarea name="comment" class="input"
                                                                  placeholder="Your review"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <strong class="text-uppercase">Your Rating: </strong>
                                                            <div class="stars">
                                                                <input type="radio" id="star5" name="rating"
                                                                       value="5"/><label for="star5"></label>
                                                                <input type="radio" id="star4" name="rating"
                                                                       value="4"/><label for="star4"></label>
                                                                <input type="radio" id="star3" name="rating"
                                                                       value="3"/><label for="star3"></label>
                                                                <input type="radio" id="star2" name="rating"
                                                                       value="2"/><label for="star2"></label>
                                                                <input type="radio" id="star1" name="rating"
                                                                       value="1"/><label for="star1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn">Submit</button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Picked For You</h2>
                    </div>
                </div>
                <!-- section title -->
                {% for random_product in random_products %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <div class="product-thumb">
                                <button class="main-btn quick-view"><a
                                        href="{% url 'product_page' random_product.slug %}"><i
                                        class="fa fa-search-plus"></i> Quick view</a></button>
                                {% thumbnail random_product.image "1200x675" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">{{ random_product.price }}</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a
                                        href="{% url 'product_page' random_product.slug %}">{{ random_product.title }}</a>
                                </h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                        Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}